header{
    text-align: center;
    margin: 0;
    padding: 0px;
    padding-bottom: 30px;
    background: #777;
    color: white;
}
.heading{
    padding: 40px;
    font-size: 100px;
}
.latest-album{
    display: block;
    border: 1px solid #56CCF2;
    padding: 15px 30px;
    font-size: 23px;
    font-weight: 200;
    margin: 10px auto;
    background: inherit;
    cursor: pointer;
    color: white;
}
.play-btn{
    cursor: pointer;
    display: block;
    border: 2px solid #56CCF2;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
    font-weight: 200;
    margin: 20px auto;
    background: inherit;
    color: #56CCF2;
}
h2{
    font-family: "Metal Mania";
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.tour-item{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 10px;
}
.tour-date{
    width: 10%;
}
.tour-place{
    width: 15%;
    color: #777;
}
.tour-spec-place{
    width: 40%;
    color: #777;
}
.buy-btn{
    width: 20%;
    background: #56CCF2;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.foot{
    margin-top: 75px;
    text-align: left;
    padding-left: 10rem;
    padding-top: 20px;
    font-size: 50px;
    color: white;
    width: 100%;
    background-color: #56CCF2;
    height: 8rem;
}