.header{
    position: sticky;
    top: 0;
    min-height: 60px;
    width: 100%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #141414;
   
    
}
.logo{
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-left: 40px;
}
.header-links{
   display: flex;
  margin-top: 10px;
  margin-right: 40px;
  justify-content: space-evenly;

}
.header-links ul li{
    list-style: none;
    display: inline-block;
    font-size: 18px;
    color: white;
   padding: 0 15px;
 text-decoration: none;
}
.btn{
   
    width: 70px;
    height: 40px;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: aqua;
}


.cart-length{
    margin: 3px;
    font-size: 14px;
    font-weight: 700;
    vertical-align: super;
    color: brown
}
.nav{
    color: white;
    text-decoration: none;
}
.nav:hover{
    color: #fffc3c;
    text-decoration: underline;
}